body{
width: 100%;
margin-left: 0px;
margin-right: 0px;
}
h1{
	text-align: center;
}
@media (min-width: 992px){
	.col-lg-3{
	color: red;
	background-color: skyblue;
	padding: 0px;
	width: 32%;
	height: 300px;
	border: 1px solid black;
	position: relative;
	box-sizing: border-box;
	float: left;
	margin: 0.666666%;
}
}
@media (min-width: 768px) and (max-width: 992px){
	.col-md-2{
		color: red;
		background-color: skyblue;
		padding: 0px;
		width: 48%;
		height: 200px;
		border: 1px solid black;
		position: relative;
		box-sizing: border-box;
		float: left;
		margin: 1%;
	}

	.col-md-1{
		color: red;
		background-color: skyblue;
		padding: 0px;
		width: 98%;
		height: 150px;
		border: 1px solid black;
		position: relative;
		box-sizing: border-box;
		float: left;
		margin: 1%;
	}
}
@media (max-width: 768px){

	.col-sm-1{
		color: red;
		background-color: skyblue;
		padding: 0px;
		width: 98%;
		height: 150px;
		border: 1px solid black;
		position: relative;
		box-sizing: border-box;
		float: left;
		margin: 1%;
	}
}
.p1{
	position: absolute;
	top: 0px;
	right: 0px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin: 0%;
	padding: 0px;
	width: 25%;
	text-align: center;
	background-color: yellow;
	box-sizing: border-box;
	color: blue;
}
.p2{
	position: absolute;
	top: 0px;
	right: 0px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin: 0%;
	padding: 0px;
	width: 25%;
	text-align: center;
	background-color: darkorange;
	box-sizing: border-box;
	color: floralwhite;
}
.p3{
	position: absolute;
	top: 0px;
	right: 0px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin: 0%;
	padding: 0px;
	width: 25%;
	text-align: center;
	background-color: dimgrey;
	box-sizing: border-box;
	color: violet;
}

.pk{
	color: black;
	position: relative;

	width: 75%;
	padding-top: 15px;
	height: 150px;
	text-align: center;
	box-sizing: border-box;
	margin: auto;
	margin-top: 25px;
}
